.container { composes: container from "../../styles/auth.module.css"; }
.card { composes: card from "../../styles/auth.module.css"; }
.cardContent { composes: cardContent from "../../styles/auth.module.css"; }
.containerRetrieve { composes: containerRetrieve from "../../styles/auth.module.css"; }
.backButton { composes: backButton from "../../styles/auth.module.css"; }
