.container {
  width: 100%;
  height: 80vh;
  background-color: var(--primaryColor);
}

.cardContent {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: auto;
}

.card {
  width: 100%; 
  height: 80vh;
  background: var(--secondaryColor);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
