# URL base da API do backend
VITE_BASE_URL=http://localhost:3000

# URL pública do aplicativo do aluno para link direto de presença
VITE_STUDENT_APP_URL=https://carteirinha-digital-front-end-aluno.vercel.app
