.button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  width: 169px;
  height: 41px;
  border-radius: 25px;
  margin: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 1, 0.233);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #022930ea;
}