.label {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #4E4E4E;
  margin-left: 15px;
  margin-top: 20px;
}

.inputArea {
  display: flex;
  align-items: center;
  background: white;
  height: 50px;
  border: 2px solid #005C6D;
  border-radius: 25px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
.containerInput{
  width: 100%;
}

.icon {
  margin-right: 12px;
  font-size: 18px;
  color: #005C6D;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: #FFFFFF;
}

.input::placeholder {
  color: #B2B2B2;
}
