.containerInput { composes: containerInput from "../input/style.module.css"; }
.label { composes: label from "../input/style.module.css"; }
.inputArea { composes: inputArea from "../input/style.module.css"; }
.input { composes: input from "../input/style.module.css"; }
.icon { composes: icon from "../input/style.module.css"; }