/* GENERAL LAYOUT */
.container {
  width: 100%;
  min-height: 100vh;
  background: #f6f2f4;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* HEADER */
.header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLeft {
  width: 120px;
}

.logoRight {
  width: 160px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #005C6D;
}

/* BACK BUTTON */
.backButton {
  position: absolute;
  left: 25px;
  top: 110px;
  background-color: #005C6D;
  border: none;
  color: white;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

/* FORM */
.form {
  width: 100%;
  max-width: 850px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  font-weight: bold;
  color: black;
}

.form input {
  width: 100%;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #c8c8c8;
  outline: none;
  background: white;
  color: black;
}

.form input::placeholder {
  color: #808080;
}

/* REGISTER BUTTON */
.registerButton {
  margin-top: 40px;
  padding: 12px 35px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  background-color: #005C6D;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.registerButton:hover {
  opacity: 0.85;
}
