.container {
  width: 100%;
  height: 80vh;
  background-color: var(--primaryColor);
}

.cardContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.card {
  width: 100%; 
  height: 80vh;
  background: var(--secondaryColor);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.containerRetrieve {
    width: 100%; 
    display: flex;
    justify-content: end;
}
