.searchArea {
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
  text-align: center;
}

.searchLabel {
  font-weight: bold;
  color: var(--labelColor);
  font-size: 16px;
}

.searchBox {
  margin-top: 5px;
  background: white;
  border: 2px solid #c8c8c8;
  border-radius: 20px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
  color: #000;
}

.searchIcon {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}