.container {
  width: 100%;
  min-height: 100vh;
  background: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat';
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoLeft {
  height: 100px;
  margin: 10px;
}

.logoRight {
  height: 100px;
  margin: 10px;
}

.list {
  width: 100%;
  max-width: 900px;
  margin-top: 25px;
}

.card {
  background: white;
  border-radius: 10px;
  border: 2px solid #c8c8c8;
  padding: 18px 20px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
