html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f6f2f4 !important; 
  font-family: "Montserrat";
}

:root {
  --primaryColor: #005C6D; 
  --secondaryColor: #f6f2f4;
  --labelColor: #000;
}
